.body {
  display: flex;
  flex-direction: column;
}

section.banner {
  background-image: url("../public/alma_banner.png");
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formContainer h1 {
  margin: 20px;
}

.formContainer h2 {
  font-size: 18px;
}

.formContainer {
  max-width: 800px;
  display: flex;
  text-align: center;
  align-self: center;
  flex-direction: column;
}

.form {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form label {
  font-size: 1rem;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.form input:focus {
  border-color: #4caf50;
}

.form button {
  width: 100%;
  padding: 12px;
  background-color: #272a27;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 22px;
}

.form button:hover {
  background-color: #45a049;
}

.select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border-color 0.3s ease;
}

.select:focus {
  border-color: #4caf50;
}

.select option {
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
}

.select option:hover {
  background-color: #f1f1f1;
}

.custom-.select-container {
  position: relative;
}

.select::-ms-expand {
  display: none;
}

.custom-.select-container::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  pointer-events: none;
}

.additionalInfo {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border-color 0.3s ease;
  height: 200px;
}

.additionalInfo::placeholder {
  font-size: 0.9rem;
}
